div.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
div.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}
