div.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
div.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  margin: 20px auto;
}
