form {
  display: inline-block;
  width: 83%;
  vertical-align: top;
}
button {
  background: rgb(54, 187, 54);
  border-radius: 4px;
  padding: 6px 14px;
  cursor: pointer;
  color: white;
}
button:disabled {
  background: rgb(148, 158, 148);
  color: grey;
  cursor: no-drop;
}
