div {
  /* display: block; */
  width: 700px;
  margin: 20px auto;
}
/* form {
  display: inline-block;
  margin: 40px auto;
} */
form {
  text-align: center;
  /* margin: auto; */
}
input,
label {
  display: inline-block;
  height: 25px;
  /* text-align: left; */
  margin-top: 5px;
  text-align: center;
}
input {
  width: 50%;
}
label {
  width: 30%;
  text-align: right;
  margin-right: 20px;
}
button {
  position: relative;
  float: right;
  /* display: inline-block; */
  background: rgb(54, 187, 54);
  border-radius: 4px;
  padding: 10px 20px;
  color: white;
  margin-top: 15px;
  width: 35%;
}
button:hover {
  cursor: pointer;
  background: rgb(110, 233, 110);
  color: black;
}
button:disabled {
  background: rgb(148, 158, 148);
  color: grey;
  cursor: auto;
}
