div.wrap {
  width: 80%;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 80%;
}
form.formaddrep {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-width: 30%;
}
