/* .formRating {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 10px;
} */
body {
  background-image: url('https://media.istockphoto.com/photos/beach-summer-background-picture-id1140992203?k=6&m=1140992203&s=612x612&w=0&h=LzOrsrxM8orw7K0fgJMMVhUQHUf2MYGlm3Wz-xAHbYQ=');
  background-size: auto;
}
.formRating {
  /* color: white; */
  margin: 0 auto;
  max-width: 300px;
  padding: 40px;
  /* background-color: white; */
  /* opacity: 0.8; */
  border-radius: 20px;
  /* border: 2px; */
  background-color: rgb(240 248 253 / 86%);
}
