/* .formRating {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 10px;
} */
body {
  background-image: url('https://gallery.yopriceville.com/var/albums/Backgrounds/Beach_Sand_and_Shells_Background.jpg?m=1433334144');
}
.formRating {
  /* color: white; */
  margin: 0 auto;
  max-width: 300px;
  padding: 40px;
  /* background-color: white; */
  /* opacity: 0.8; */
  border-radius: 20px;
  /* border: 2px; */
  background-color: rgb(189 229 255 / 36%);
}
