/* .formRating {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 10px;
} */
body {
  background-image: url('https://previews.123rf.com/images/dirkercken/dirkercken1705/dirkercken170500018/79161655-sea-shell-frame-with-clamms-and-spiral-shells-on-the-beach-sand-seahell-background-as-concept-for-su.jpg');
}
.formRating {
  /* color: white; */
  margin: 0 auto;
  max-width: 300px;
  padding: 40px;
  /* background-color: white; */
  /* opacity: 0.8; */
  border-radius: 20px;
  /* border: 2px; */
  background-color: rgb(240 248 253 / 86%);
}
