/* .formRating {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 10px;
} */
body {
  background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pinterest.com%2Fpin%2F181269953738766209%2F&psig=AOvVaw21SjbxGkb5AH9w8k6lqpY-&ust=1618682703086000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCJicgJetg_ACFQAAAAAdAAAAABB2');
  background-size: auto;
}
.formRating {
  margin: 0 auto;
  max-width: 300px;
  padding: 40px;
  border-radius: 20px;
  background-color: rgb(240 248 253 / 86%);
}
selection.rating {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  align-items: center;
}
.rating {
  width: 100%;
}
Button.rating {
  margin-top: 10px;
}
