div.title {
  color: red;
}
table {
  color: blue;
  border-collapse: collapse;
  border: 1px solid rgb(170, 156, 156);
}
td,
th {
  border-right: 1px solid rgb(170, 156, 156);
  border-collapse: collapse;
}
th {
  border-bottom: 1px solid rgb(170, 156, 156);
}
tr:nth-child(even) {
  background-color: #f5f5f5;
}
