div.title {
  color: rgb(170, 156, 156);
}
table {
  color: rgb(102, 97, 97);
  border-collapse: collapse;
  border: 1px solid rgb(124, 119, 119);
  margin: 10px auto;
}
td,
th {
  border-right: 1px solid rgb(170, 156, 156);
  border-collapse: collapse;
  padding: 2px 5px;
}
th {
  border-bottom: 1px solid rgb(170, 156, 156);
}
tr:nth-child(even) {
  background-color: #f5f5f5;
}
div.chips {
  display: flex;
  justify-content: flex-end;
  width: 70%;
  margin: 0px auto;
}

div.tablehead {
}
